* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 1000px;
    background-color:#FCF5FC;
    box-shadow: 0px 0px 5px 0px rgb(117, 117, 117);
    font-family: ns-serifsystem-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sa ;
}
img {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%; 
}
header {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 3rem);
    background-color: #FFF;
}
.header__pic--plant {
    grid-column: 2 / 6;
    grid-row: 5 / 9;
    z-index: 1; /* för att lägga ikonen över bilden */
}
.header__pic--hand {
    grid-column: 1 / 7 ;
    grid-row: 1 / 11;
    object-fit:cover;
    
    
} 
.header__pic--dig {
    grid-column: 7 / 13 ;
    grid-row: 6 / 11;
    background-color: #0A846E;
    object-fit: scale-down;
    

}
.header__pic--seedling {
    grid-column: 7 / 13;
    grid-row: 1 / 6;
    object-fit:scale-down;
    background-color: #9B6F53;
}

.header__menyn {
    padding: 10px auto;
    display: flex;
    grid-column:1 / 13 ;
    grid-row: 11/ 12;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgb(175, 175, 175)
    
}
.header__menyn--p a {
    padding: 10px 10px;
    color: #0A846E;
    font-weight: bolder ;
    text-decoration: none;
}
main {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:repeat(12, 1fr);
    justify-content: center;
    background-color: #FFFFFF;
}
.main__stor--h2{
    display:flex;
    align-self: center;;
    justify-self: center;
    grid-column: 3 / 12;
    color: #0A846E;
    
}
.main__medium--h3 {
    grid-column:7 / 11;
    grid-row: 2/11;
}

.main__liten--p {
    grid-column: 8 / 11;
    grid-row: 3 / 5;
    /* pixlar?*/
    
}
.main__pic--sowing {
    display: flex;
    min-width: 8rem;
    background-color: #0A846E;
    height: fit-content;
    border-radius: 50%;
    grid-row: 2 / 6;
    grid-column: 3 / 7;
    

}
.main__knapp {
    grid-row: 6/7;
    grid-column: 11/12;
}
.knapp--sowing {
    background-color: #0A846E;
    height: 2rem;
    color: #FFF;
    border-radius: 5px;

}

